h1, h2, p, button{
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-decoration: underline;
}

button {
  margin: 10px;
  background-color: chocolate;
  color: aliceblue;
}

body {
  margin: 2% 0 0 2%;
}